/* import style for and artist header bit */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* nav */
nav {
  width: 0vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 2;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

#nav-format {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}

nav a, nav p {
  margin: 2vh 0;
  color: var(--black);
  text-decoration: none;
  text-transform: lowercase;
}

.active {color: var(--theme); font-weight: bold;}

#toggle {
  background-color: var(--white);
  top: 20px; left: 100px;
  border-radius: 50%;
}

.logo {top: 20px; right: 20px; display: block;}
nav .logo {top: 12px; left: 20px; display: none;}


/* setting up layout and grid */

body {
  display: grid;
  width: 100vw;
  /* ten equal spaced columns*/
  grid-template-columns: 7.7vw 7.7vw 7.7vw 7.7vw 7.7vw 7.7vw 7.7vw 7.7vw 7.7vw 7.7vw;
  grid-template-areas:
  'header header header header header header header header header header'
  'whead whead websites websites websites websites websites websites websites websites'
  'aimg aimg aimg aimg aimg about about about about about'
  'art art art art art art art art ahead ahead'
  '. . uintro uintro uintro uintro uintro uintro . .'
  'unbuilt unbuilt unbuilt unbuilt unbuilt unbuilt unbuilt unbuilt unbuilt unbuilt'
  '. . footer footer footer footer footer footer . .';
  padding: 7vw 7% 0 7%;
  grid-row-gap: 19em;
  grid-column-gap: 1%;

  /*
  math to figure out cols
  100 - 23 = 77
  77 / 10 = 7
   */
}

header {grid-area: header;}
#web-examples {grid-area: websites;}
#web-header {grid-area: whead;}
#about-img {grid-area: aimg;}
#about {grid-area: about;}
#art-header {grid-area: ahead;}
#art-content {grid-area: art;}
#unbuilt-intro {grid-area: uintro;}
#unbuilt-examples {grid-area: unbuilt;}
footer {grid-area: footer;}



#web-header, #art-header {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  margin: 0;
  font-size: 5vw;
}

#art-header {transform: rotate(0deg);}

#about-img:hover, .header-img:hover {filter: none;}

#unbuilt-intro {text-align: center;}




/* header styles */
header {
  width: 100%;
  margin: 20vh auto 5vh auto;
  display: grid;
  overflow-x:visible;
  grid-gap: 4vw;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'header-text header-img';
}

.header-text {
  grid-area: header-text;
  margin: auto;
  text-align: center;
}

.header-img {
  grid-area: header-img;
  width: 100%;
}
.header-img figcaption {display: none;}
.header-img img {
  width: 100%;
  border-radius: 50vw;
}

#artist-header {
  font-family: 'Gloria Hallelujah', cursive;
  color: var(--theme);
  margin-top: -20px;
  text-transform: uppercase;
}

/* main item styles */

img {width: 100%;}
figure {margin: 0;padding: 0; width: 100%;}
.griddd img {border: var(--theme) solid 3px;}

.flow-grid {
  display: grid;
  width: 100%;
  /* 5 columns*/
  grid-template-columns: 15.5% 15.5% 20% 15.5% 15.5%;
  grid-template-areas:
  'desktop1 desktop1 desktop1 mobile1 mobile2'
  'mobile3 mobile4 desktop2 desktop2 desktop2';
  grid-row-gap: 9%;
  grid-column-gap: 4.5%;
  margin: 4vw auto;
}
/* 62 + 18 */

.mobile1 {grid-area: mobile1;}
.mobile2 {grid-area: mobile2;}
.mobile3 {grid-area: mobile3;}
.mobile4 {grid-area: mobile4;}
.desktop1 {grid-area: desktop1;}
.desktop2 {grid-area: desktop2;}

.four-square {
  display: grid;
  width: 100%;
  /* 2 equal spaced columns*/
  grid-template-columns: 40% 40%;
  grid-row-gap: 10%;
  grid-column-gap: 10%;
}

/* styling expanding imgs */

figure {position: static;}
figure:hover {filter: brightness(80%);}

.expanded-desktop, .expanded-mobile, .expanded-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  filter: none !important;
}
.expanded-desktop img {
  width: 70%;
  /* height: 70%; */
  display: block;
  margin: auto;
  text-align: center;
  border: none;
}
.expanded-mobile img {
  width: auto;
  height: 70%;
  display: block;
  margin: auto;
  text-align: center;
  border: none;
}

.expanded-square img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  text-align: center;
  border: none;
}


/* footer */
.socials {
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.socials a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.socials a:hover {transform: rotate(20deg);}

footer {
  text-align: center;
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}
footer figure {width: 20%; margin: auto;}
footer h3 {margin-bottom: 3em;}


/* setting images */
#hamburger {background-image: url("../media/assets/nav.svg"); display: block;}
#close {background-image: url("../media/assets/close.svg"); display: none;}
.logo {background-image: url("../media/assets/logo-black.svg");}
#toggle {background-image: url("../media/assets/moon.svg");}

#dribbble {background-image: url("../media/assets/dribbble-light.svg");}
#gmail {background-image: url("../media/assets/gmail-light.svg");}
#instagram {background-image: url("../media/assets/insta-light.svg");}



/* media queries */

/* when screen size is SMALLER than 850px colapse grid */
@media only screen and (max-width: 850px) {

  /* remove grid */
  body {
    display: block;
    padding: 8vw 8% 0 8%;
  }


  #web-examples, #web-header, #about-img, #about, #art-header, #art-content, #unbuilt-intro, #unbuilt-examples
  {margin: auto auto 30vw auto;}


  #web-header, #art-header {
    writing-mode: horizontal-tb;
    transform: none;
    margin: 0;
    font-size: 3em;
    text-align: right;
  }

  #about-img, #about, #unbuilt-intro {width: 70%;}
  #about-img {margin: auto;}

  #unbuilt-intro {text-align: left;}

  .griddd img {border: var(--theme) solid 2px;}


/* fixing header */

  header {
    width: 100%;
    margin: 10vh auto 20vh auto;
    display: block;
  }

  .header-img {
    margin-top: 5em;
  }

}
